html{
    background: #BDFDFF;
}
    
body{
    margin: 0 auto;
    padding: 0px;
    min-width: 900px;
    max-width: 1500px;
    font-size: 20px;
    line-height: 1em;
    background-color: white;
    font-family: Lato;
    box-shadow: -20px 0px 30px 0px #FFFFFF,20px 0px 30px 0px #FFFFFF;
}


.header{
    height: 80px;
    background-color: #2D94EE;
}
.header span{
    font-size: 60px;
    margin-left: 30px;
    position: relative;
    bottom: 7px;
    font-weight: bold;
    text-shadow: 3px 2px 20px #333333;
    color: #F1F5F8;
}
#logo{
    margin-top: 10px;
    margin-left: 10px;
    max-height: 60px;
}
#contact {
    float: right;
    font-size: 30px;
    padding: 20px;
    background-color: #D6DEE0;
    border-radius: 100px 0px 0px 100px;
    color: #153BFA;
    font-weight: bold;
    border: 10px solid #F0F1F1;  
}

/*------------------------------MENU BAR---------------------------------------------*/

.lish-menu{
    height: 60px;
    min-width: 1200px;
    font-size: 30px;
    font-weight: bold;
    text-align: center;;
    text-shadow: 3px 2px 30px #333333;
    background: #7C818C;
    border: 1px solid #A8A8A8;
    box-shadow: 0px 50px 30px 0px #B0B8C6 inset;
}
.lish-menu ul{
    float: left;
    margin: 20px 0px;
    
}
.lish-menu li{
    display: inline;
    min-width: 900px;
    padding: 0px 30px;
}
.lish-menu a{
    color: #F0F1F4;
    text-decoration: none;
}
.lish-menu a:hover{
    color: #F90;
}

/*------------------------------CENTER---------------------------------------------*/

.center{
    height: 950px;
    padding: 10px;
    background-color: white;
}
.pageheader{
    margin: auto;
    font-size: 30px;
    width: 200px;
}

/*---------------------------------MENU--------------------------------------*/

.menu{
    position: relative;
    height: 850px;
    min-width: 900px;
    float:left;
    border: 1px solid black;
    background-color: #FFFFF0;
    border-radius: 10px;
}

.category{
    margin: auto;
    background: #24A8FF;
    padding: 10px;
}
.category li{
    display: inline;
    border-right: 5px solid black;
}
.category button{
    width: 200px;
    height: 80px;
    font-size: 28px;
    font-weight: bolder;
    border-radius: 10px;
    background: #24A8FF;
    color: #EEF9FF;
    border: none;
}
.category button:hover{
    background:#3A4246;
    cursor: pointer;
}
.category button:active{
    background: #1F2121;
}
.cart{
    float: right;
}

/*---------------------------------MENU LIST--------------------------------------*/

.menulist{
    list-style: none;
    height: 600px;
    overflow: auto;
}
.menulist li{
    display: inline-block;
    margin: 10px;
}
.menulist button{
    width: 200px;
    height: 100px;
    font-size: 18px;
    padding: 10px;
    border-radius: 20px;
    background: #00416D;
    color: #FFFFFF;
}
.menulist h3{
    position: relative;
    bottom: 10px;
}
.menulist h4{
    position: relative;
    bottom: 20px;
}
.menulist button:hover{
    background: #001034;
    cursor: pointer;
}
.menulist button:active{
    background: #2870F6;
}


/*---------------------------------Add Button--------------------------------------*/
.add_item{
    width: 300px;
    height: 80px;
    margin: auto;
}
.add_item button{
    width: 300px;
    height: 80px;
    font-size: 30px;
    font-weight: bold;
    position: relative;
    background: #24A8FF;
    color: #FFFFFF;
    border-radius: 10px;
}
.add_item button:hover{
    cursor: pointer;
}
.add_item button:active{
    background: #1A699F;
}

/*---------------------------------BASKET--------------------------------------*/

/*.basket{
    width: 500px;
    height: 850px;
    background-color: #FFFFF0;
    border-radius: 10px;
    position: fixed;
    margin-left: 1000px;
    top: 200px;
}
.basket h2{
    margin: 0 auto;
    width: 180px;
    height: 30px;
    margin-top: 20px;
    text-decoration: underline;
    text-align: center;
}
.myorder_table{
    width: 70%;
    margin: auto;
    text-align: center;
    outline: 1px solid;
    overflow: auto;
    table-layout: fixed;
    font-size: 15px;
    border-radius: 10px;
}
.myorder th{
    height: 50px;
    border: 1px solid black;
    background: #FF1B2E;
    color: white;
    font-weight: bold;
}
.myorder td{
    background: #ABABAB;
    color: white;
}
.item_name{
    width: 300px;
}
.item_price{
    width: 50px;
}
.item_qty{
    width: 50px;
}
.item_total{
    width: 50px;
}
.myorder td{
    padding: 10px;
}
.order_sum p{
    float:right;
    font-size: 30px;
    padding: 5px;
    margin-right: 30px;
    position: relative;  
}
.place_order{
    width: 150px;
    height: 80px;
    font-size: 30px;
    font-weight: bold;
    position: relative;
    background: #24A8FF;
    color: #FFFFFF;
    border-radius: 10px;
    float:right;
    position: relative;
    top: 100px;
    left: 15px;
}
.place_order:hover{
    cursor: pointer;
}
.place_order:active{
    background: #1A699F;
}*/
#cd-cart-trigger {
  position: absolute;
  top: 0;
  height: 100%;
}
#cd-cart-trigger a {
  width: 60px;
  height: 100%;
}#cd-cart-trigger {
  right: 0;
}#cd-cart {
  position: fixed;
  top: 0;
  height: 100%;
  width: 260px;
  /* header height */
  padding-top: 50px;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  z-index: 3;
}#cd-cart > * {
  padding: 0 1em;
}
#cd-cart h2 {
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: bold;
  text-transform: uppercase;
  margin: 1em 0;
}
#cd-cart .cd-cart-items {
  padding: 0;
}
#cd-cart .cd-cart-items li {
  position: relative;
  padding: 1em;
  border-top: 1px solid #e0e6ef;
}
#cd-cart .cd-cart-items li:last-child {
  border-bottom: 1px solid #e0e6ef;
}
#cd-cart .cd-qty, #cd-cart .cd-price {
  color: #a5aebc;
}
#cd-cart .cd-price {
  margin-top: .4em;
}
#cd-cart .cd-item-remove {
  position: absolute;
  right: 1em;
  top: 50%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: url("../img/cd-remove-item.svg") no-repeat center center;
}
.no-touch #cd-cart .cd-item-remove:hover {
  background-color: #e0e6ef;
}
#cd-cart .cd-cart-total {
  padding-top: 1em;
  padding-bottom: 1em;
}
#cd-cart .cd-cart-total span {
  float: right;
}
#cd-cart .cd-cart-total::after {
  /* clearfix */
  content: '';
  display: table;
  clear: both;
}
#cd-cart .checkout-btn {
  display: block;
  width: 100%;
  height: 60px;
  line-height: 60px;
  background: #7dcf85;
  color: #FFF;
  text-align: center;
}
.no-touch #cd-cart .checkout-btn:hover {
  background: #a2dda8;
}
#cd-cart .cd-go-to-cart {
  text-align: center;
  margin: 1em 0;
}
#cd-cart .cd-go-to-cart a {
  text-decoration: underline;
}
#cd-cart {
    position: fixed;
    top: 0;
    right: 00%;
    height: 100%;
    background: white;
 
    /* header height */
    padding-top: 50px;
    
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
 
    transition: right 0.3s;
}
    #cd-cart.speed-in {
        right: 0;
    }
    
#cd-shadow-layer {
  position: fixed;
  min-height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: rgba(67, 87, 121, 0.6);
  cursor: pointer;
  z-index: 2;
  display: none;
}
#cd-shadow-layer.is-visible {
  display: block;
  -webkit-animation: cd-fade-in 0.3s;
  -moz-animation: cd-fade-in 0.3s;
  animation: cd-fade-in 0.3s;
}


/*---------------------------------FOOTER--------------------------------------*/


.footer{
    position: relative;
    background-color: #2D94EE;
    box-shadow: 30px 30px 100px 0px #FFFFFF inset, -30px -30px 100px 0px #FFFFFF inset;
}
.foottext{
    position: relative;
    bottom: 60px;
    left: 200px;
}
.fblogo img{
    max-height: 100px;
    position: relative;
    left: 60px;
    top: 70px;
    border: 3px solid white;
    border-radius: 10px;
}